@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --c-accent: #7bfffb;
  --c-background: black;
  --c-foreground: white;
  --c-title: white;
  --c-subtitle: gray;
  --c-text: lightgray;
  --c-alt-bg: #252525;

  color: var(--c-text);
}

button {
  background-color: var(--c-foreground);
  color: var(--c-background);
  padding: 10px 15px;
  border: 2px solid var(--c-foreground);
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: "Roboto", sans-serif;
}

button:hover {
  transition: 0.1s ease;
  background-color: transparent;
  color: var(--c-foreground);
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--c-background);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-title);
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

sub {
  font-family: "Roboto Mono", monospace;
  font-size: 12pt;
}

pre {
  font-family: "Roboto Mono", monospace;
  font-size: 12pt;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
}

input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  color: var(--c-foreground);
}

textarea {
  background-color: var(--c-background);
  border: 1px solid white;
  border-radius: 5px;
  resize: none;
  color: var(--c-text);
  padding: 10px;
}

.difficulty-tag {
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}
.difficulty-hard {
  color: orangered;
}

.difficulty-medium {
  color: orange;
}

.difficulty-easy {
  color: greenyellow;
}
