.control-panel {
  position: fixed;
  top: 100px;
  left: 20px;
  background-color: black;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1000;
}

.control-panel button {
  aspect-ratio: 1;
  background-color: black;
  border: none;
  color: white;
  font-size: 15pt;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-panel-min {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  height: 180px;
  top: auto;
  bottom: 30px;
  left: 360px;
  box-sizing: border-box;
}

.question-container-vc {
  display: none;
}

.cheating-notif {
  display: none;
}

.session-page-notif-true .question-page {
  height: calc(100vh - 140px);
  padding-top: 0;
}

.session-page-notif-true .jitsi-container {
  height: calc(100vh - 150px);
  margin-top: 0;
}

.session-page-notif-true .cheating-notif {
  display: block;
  background-color: darkred;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.session-page-notif-true .jitsi-container-min {
  height: 180px;
  width: 320px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
